# Core
streamlit==1.35.0
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.0

# ML
lightgbm==4.3.0
shap==0.45.1
imbalanced-learn==0.12.3

# Visualization
plotly==5.22.0

# LLM / API
requests==2.32.3
groq==0.9.0

# Database
# sqlite3 is included in Python stdlib

# Utilities
python-dotenv==1.0.1
kaggle==1.6.12